{
	"size": %size|j%,
	"query": {
		"filtered": {
			"query": {
				"match_all": {}
			},
			"filter": {
				"or": %distributions|j%
			}
		}
	},
	"facets": {
		"ratings": {
			"terms_stats": {
				"value_field": "rating.rating",
				"key_field": "rating.distribution"
			}
		}
	}
}