{
    "size": %size|j%,
    "query": {
        "filtered": {
            "query": { "match_all": {} },
            "filter": {
                "or": %distributions|j%
            }
        }
    },
    "facets": {
        "favorites": {
            "terms": {
                "field": "favorite.distribution",
                "size": 3
            }
        },
        "myfavorites": {
        	"terms": { "field": "favorite.distribution" },
        	"facet_filter": { "term": { "favorite.user": "%myPrivateToken|s%" } }
        }
    }
}
